*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main-clr: #181818;
    --second-clr: #202020;
    --third-clr: #3c404e;
    --blue-clr: #323ec7;
    --dark-blue-clr: #1f1d42;
    --contrast-clr: #ffffff;
    --letter-clr: #d1c6c1;
}

body {
    font-size: 16px;
    /* background-color: var(--main-clr); */
    background: linear-gradient(175deg, var(--main-clr), #241a1c);
}

/* HEADER */

#header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 3.3em;
    background-color: var(--second-clr);
    border-bottom: 3px ridge var(--blue-clr);
    z-index: 10;
}

/* LOGO */

#header .logo a {
    position: absolute;
    padding: .45em;
    color: var(--blue-clr);
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
}

/* NAV */ 

#header #nav *{
    display: inline-block;
    text-align: right;
}
#header #nav {
    width: 100%;
    height: 3.3em;
    /* background-color: #1f1f5a; */
    float: right;
}
#header #nav .nav-division {
    position: absolute;
    width: 120px;
    height: 3.1em;
    background-color: var(--blue-clr);
    right: 0px;
    padding: 1px;
}
#header #nav .nav-division::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--second-clr);
    /* background: linear-gradient(90deg, var(--second-clr), var(--blue-clr)); *//*COLOR CON ESFUMADO*/ 
    left: -27px;
    top: 0px;
    transform: skewX(31deg);
}
#header #nav .ul-container {
    transition: all .5s;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-clr);
    position: absolute;
    top: 3.1em;
    z-index: 10;
    right: 100%;
}

#header #nav .abierto {
    opacity: 1;
    right: 0;
}
#header #nav .ul-container ul {
    display: flex;
    flex-flow: column nowrap;
    opacity: 1;
    /* transition: all 1s; */
    width: 100%;
    height: 100vh;
    position: absolute;
    /* right: 100%; */
    margin-top: 0.2em;
}
li {
    padding: 0;
    list-style-type: none;
}
#header #nav .ul-container ul li > a {
    text-decoration: none;
    color: var(--contrast-clr);
    font-size: 1.7em;
    padding: .6em 1.6em;
}

/* BTN-NAV */

#header #nav .btn-nav-container {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5px;
    /* background-color: #fff; */
}

#header #nav .btn-nav-container .btn-nav {
    width: 50px;
    height: 50px;
}
#header #nav .btn-nav-container .btn-nav .btn-disenio {
    transition: all .5s;
    width: 50px;
    height: 50px;
}
#header #nav .btn-nav-container .btn-nav .btn-disenio .capa1 {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 25px;
    height: 3px;
    background-color: #fff;
}
#header #nav .btn-nav-container .btn-nav .btn-disenio .capa2 {
    position: absolute;
    top: 23px;
    left: 14px;
    width: 25px;
    height: 3px;
    background-color: #fff;
}
#header #nav .btn-nav-container .btn-nav .btn-disenio .capa3 {
    position: absolute;
    top: 33px;
    left: 14px;
    width: 25px;
    height: 3px;
    background-color: #fff;
}

/* MAIN */

#main {
    margin-top: 3.7em;
    width: 100%;
    height: auto;
}
.cont {
    margin: .5em auto 1em auto;
    padding: 20px;
    /* background: var(--third-clr); */
    background: linear-gradient(180deg, var(--third-clr) 63%, transparent);
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    border: 1px solid var(--dark-blue-clr);
    box-shadow: inset 0px 0px 7px 2px var(--dark-blue-clr), 0px 0px 14px 1px var(--dark-blue-clr);
}
#main .container-welcome {
    width: 100%;
    /* max-width: 1100px; */
    height: auto;
    /* padding: 20px; */
    /* margin: 0 auto; */
    
}
#main .container-welcome .container-img {
    float: right;
    width: 150px;
    height: auto;
    filter: drop-shadow(0px 0px 6px #8367e9);
    margin: .4em;
}
#main .container-welcome .container-img > img {
    width: 150px;
    height: 105px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
#main .container-welcome .second {
    height: 120px;
    width: 150px;
    position: absolute;
    left: -75px;
}
#main .container-welcome .second .forma {
    height: 120px;
    width: 150px;
    background-color: var(--blue-clr);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
h3 {
    font: 1.5em;
    color: var(--letter-clr);
    margin-bottom: 1em;
}
p {
    font-size: 1.2em;
    color: var(--letter-clr);
    font-weight: 500;
    margin-bottom: 1.3em;
}
.texto2 {
    margin-left: 3.7em;
}

/* SCROLL-ICON */

@keyframes icon-move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
#main .scroll-mobile-container {
    transition: all .2s;
    position: absolute;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    bottom: 20px;
}
#main .scroll-mobile-container > span {
    color: #ffffff;
}
#main .scroll-mobile-container .icon-container {
    width: 103px;
    margin: 0 auto;
    animation: icon-move 2s infinite;
}
#main .scroll-mobile-container .icon-container .icon {
    width: 40px;
    height: 6px;
    background-color: #fff;
    transform: rotate(317deg) translate(22px, 2px);
}
#main .scroll-mobile-container .icon-container .icon::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    transform: rotate(90deg) translate(17px, 2px);
}
.animado-desvanecer {
    opacity: 0;
}

/* HABILIDADES */
#main .container-habilidades {
    width: 100%;
    height: auto;
}
#main .container-habilidades .habilidades {
    display: flex;
    gap: .5em;
    flex-wrap: nowrap;
}
#main .container-habilidades .habilidades > svg {
    width: 55px;
    height: auto;
}