*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main-clr: #181818;
    --second-clr: #202020;
    --third-clr: #3c404e;
    --blue-clr: #323ec7;
    --dark-blue-clr: #1f1d42;
    --contrast-clr: #ffffff;
    --letter-clr: #d1c6c1;
}



body {
    font-size: 16px;
    background-color: #302d2d;
    /* background: linear-gradient(175deg, var(--main-clr), #241a1c); */
}
a:link, a:visited, a:active {
    text-decoration:none;
}
/* SLIDER */

.contenedor-slider {
    overflow-x: hidden;
}

#main #about-me .slider-automatico {
    animation: sliderAutomatico 100s infinite;
}

@keyframes sliderAutomatico {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150%);
    }
}

/* HEADER */

#header {
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    width: 100%;
    top: 0;
    height: 3.3em;
    background-color: var(--second-clr);
    border-bottom: 3px ridge var(--blue-clr);
    z-index: 10;
}

/* LOGO */

#header .logo a {
    position: absolute;
    padding: .45em;
    color: var(--blue-clr);
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
}

/* NAV */ 

#header #nav *{
    display: inline-block;
    text-align: right;
}
#header #nav {
    width: 100%;
    height: 3.3em;
    /* background-color: #1f1f5a; */
    float: right;
}
#header #nav .nav-division {
    position: absolute;
    width: 120px;
    height: 3.13em;
    background-color: var(--blue-clr);
    right: 0px;
    padding: 1px;
}
#header #nav .nav-division::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--second-clr);
    /* background: linear-gradient(90deg, var(--second-clr), var(--blue-clr)); *//*COLOR CON ESFUMADO*/ 
    left: -27px;
    top: 0px;
    transform: skewX(31deg);
}
#header #nav .ul-container {
    transition: all .5s;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-clr);
    position: absolute;
    top: 3.1em;
    z-index: 10;
    margin-left: 100%;
    clip-path: polygon(100% 0, 0 0, 0 56%, 100% 100%);
}

#header #nav .abierto {
    opacity: 1;
    margin-left: 0;
}
#header #nav .ul-container ul {
    display: flex;
    flex-flow: column nowrap;
    opacity: 1;
    /* transition: all 1s; */
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    margin-top: 0.2em;
}
li {
    padding: 0;
    list-style-type: none;
}
#header #nav .ul-container ul li > a {
    text-decoration: none;
    color: var(--contrast-clr);
    font-size: 1.7em;
    padding: .6em 1.6em;
}

/* BTN-NAV */

#header #nav .btn-nav-container {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5px;
    /* background-color: #fff; */
}

#header #nav .btn-nav-container .btn-nav {
    width: 50px;
    height: 50px;
}
#header #nav .btn-nav-container .btn-nav .btn-disenio {
    transition: all .5s;
    width: 50px;
    height: 50px;
}
#header #nav .btn-nav-container .btn-nav .btn-disenio .capa1 {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all .3s;
}
#header #nav .cerrar .btn-nav .btn-disenio .capa1 {
    transform: rotate(135deg) translate(7px, -7px);
}
#header #nav .btn-nav-container .btn-nav .btn-disenio .capa2 {
    position: absolute;
    top: 23px;
    left: 14px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all .3s;
}
#header #nav .cerrar .btn-nav .btn-disenio .capa2 {
    transform: rotate(45deg);
}
#header #nav .btn-nav-container .btn-nav .btn-disenio .capa3 {
    position: absolute;
    top: 33px;
    left: 14px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all .4s ease-out;
}
#header #nav .cerrar .btn-nav .btn-disenio .capa3 {
    transform: scale(0);
}

/* MAIN */

#main {
    margin-top: 3.7em;
    width: 100%;
    height: auto;
}
.cont {
    font-family: 'Raleway', sans-serif;
    margin: .5em auto .1em auto;
    padding: 1.2em 1.2em 0 1.2em;
    /* background: var(--third-clr); */
    /* background: linear-gradient(180deg, var(--third-clr) 63%, transparent); */
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    /* border: 1px solid var(--dark-blue-clr); */
    /* box-shadow: inset 0px 0px 7px 2px var(--dark-blue-clr), 0px 0px 14px 1px var(--dark-blue-clr); */
}
.cont-footer {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 1.2em;
    background: var(--blue-clr); 
    width: 100%;
    height: auto;
    /* border: 1px solid var(--dark-blue-clr); */
    /* box-shadow: inset 0px 0px 7px 2px var(--dark-blue-clr), 0px 0px 14px 1px var(--dark-blue-clr); */
}
#main .github-flotante {
    display: none;
}
#main .fondo-github-flotante {
    display: none;
}
#main .github-text-profile {
    display: none;
}
#main .container-welcome {
    width: 100%;
    /* max-width: 1100px; */
    height: auto;
    /* padding: 20px; */
    /* margin: 0 auto; */
    padding-bottom: 0.1em;
    
}
#main .container-welcome > img {
    display: none;
}
#main .container-welcome .container-img {
    float: right;
    width: 150px;
    height: auto;
    filter: drop-shadow(0px 0px 6px #8367e9);
    margin: .4em;
}
#main .container-welcome .container-img > img {
    width: 150px;
    height: 115px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
#main .container-welcome .second {
    height: 120px;
    width: 150px;
    position: absolute;
    left: -75px;
}
#main .container-welcome .second .forma {
    height: 120px;
    width: 150px;
    background-color: var(--blue-clr);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
#main .container-welcome .second .forma a > img {
    width: 77px;
    height: auto;
    position: absolute;
    right: 4px;
    top: 17px;
}



h3 {
    font-size: 1.5em;
    color: var(--letter-clr);
    margin-bottom: 1em;
    border-bottom: 2px solid #32cd32;
}
p {
    font-size: 1.10em;
    color: var(--letter-clr);
    font-weight: 500;
    margin-bottom: 1.3em;
}
.subtitulo {
    font-weight: 800;
    border-top: 1px solid;
    padding-top: 0.3em;
    color: #d2691e;
}
.texto2 {
    margin-left: 3.7em;
}
.hidden {
    display: none;
}

/* SCROLL-ICON */

@keyframes icon-move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
#main .scroll-mobile-container {
    transition: all .6s;
    position: absolute;
    width: 100%;
    height: 100vh;
    /* margin: 0 auto; */
    text-align: center;
    bottom: -56%;
    filter: drop-shadow(2px 2px 7px rgb(26, 14, 36));
    font-family: fantasy;
    background: linear-gradient(0deg, #00000091/*#302d2d*/ 75%, transparent 98%);
}

#main .scroll-mobile-container .icon-container {
    width: 103px;
    margin: 0 auto;
    animation: icon-move 2s infinite;
    position: relative;
    top: 22%;
}
#main .scroll-mobile-container .icon-container .icon {
    width: 40px;
    height: 6px;
    background-color: #fff;
    transform: scale(1.5) rotate(317deg) translate(22px, -9px);
}
#main .scroll-mobile-container .icon-container .icon::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #fff;
    transform: rotate(90deg) translate(17px, 2px);
}
#main .scroll-mobile-container > span {
    color: #ffffff;
    font-size: 1.95em;
    /* margin-top: 102px; */
    position: relative;
    top: 23%;
    margin: 0 auto;
}
.animado-desvanecer {
    opacity: 0;
}

/* HABILIDADES */
#main .container-habilidades {
    width: 100%;
    height: auto;
}
#main .container-habilidades .habilidades {
    display: flex;
    justify-content: space-evenly;
    gap: .5em;
    flex-wrap: nowrap;
    margin-bottom: 1em;
}
#main .container-habilidades .habilidades > svg {
    width: 55px;
    height: auto;
}

/* PROYECTOS-SECTION */ 

/*#main .container-projects {

}*/

#main .container-projects .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3em;
}

#main .container-projects .project-container .project {
    width: 300px;
}

#main .container-projects .project-container .project h4 {
    text-decoration: none;
    font-size: 1.08em;
    color: var(--contrast-clr);
    text-align: center;
    margin-bottom: 0.7em;
}

#main .container-projects .project-container .project .img-container {
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 0 auto;
}

#main .container-projects .project-container .project .img-container > img {
    width: 450px;
    position: relative;
    right: 36%;
    transition: all .6s;
}

#main .container-projects .project-container .project .img-container > img:hover {
    transform: scale(1.3)
    translate(3px, 43px);
}

#main .container-projects .project-container .project p {
    margin: 0.5em 0 1em 0;
    font-size: 1em;
}

/* FOOTER */

#footer .container-footer > h3 {
    margin: 0 auto;
    text-align: center;
    width: 47%;
}

#footer .container-footer .ul-footer-container {
    margin: 0 auto;
    padding: 0 0 20px 20%;
    border-bottom: 2px solid yellowgreen;
    width: 83%;
}
#footer .container-footer .ul-footer-container ul li > a {
    text-decoration: none;
    color: var(--contrast-clr);
    font-size: 1.7em;
    padding: .5em 0;
}
#footer .container-footer > p {
    margin: 1em;
    text-align: center;
}
#footer .container-footer p a {
    text-decoration: none;
    color: currentColor;
}


/* MEDIA QUERYS */

@media screen and (max-width: 320px) {
    .cont {
        min-width: 280px;
    }
}
@media screen and (min-width: 510px) {
    .texto2 {
        margin-left:0;
    }
}
@media screen and (min-width: 730px) {
    #header #nav .btn-nav-container {
        display: none;
    }
    #header #nav .ul-container {
        margin-left: 0;
        width: 100%;
        height: 3em;
        background-color: transparent;
        top: 0;
        opacity: 1;
        clip-path: none;
    }
    #header #nav .ul-container ul {
        justify-content: end;
        flex-flow: row nowrap;
        width: 100%;
        height: 3em;
        position: absolute;
        right: 20px;
        margin-top: 0;
    }
    #header #nav .ul-container ul li > a {
        padding: 0.4em 0.5em;
    }
    #header #nav .nav-division {
        width: 494px;
    }
    #main .container-welcome .second {
        left: 5px;
        top: 77px;
    }
    #main .container-welcome .second .forma a > img {
        right: 34px;
        top: 20px;
    }
    #main .scroll-mobile-container {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    #main .container-welcome > img {
        display: block;
        width: 200px;
        height: auto;
        position: absolute;
        top: 54px;
        right: 10px;
    }
    #main .container-welcome .second {
        left: 3%;
        top: 270px;
    }
    #main .github-flotante {
        position: absolute;
        top: 4em;
        left: 1em;
        display: block;
        width: 140px;
        height: auto;
    }
    #main .github-flotante a > img {
        transition: all .5s;
        width: 100%;
        border-radius: 50%;
    }
    #main .github-flotante a > img:hover {
        transform: scale(1.12) translate(20px, 10px);
    }
    #main .fondo-github-flotante {
        display: block;
        position: absolute;
        width: 186px;
        height: 202px;
        background-color: var(--dark-blue-clr);
        clip-path: polygon(0 0, 100% 0, 0 100%);
        top: 3em;
    }
    #main .github-text-profile {
        font-size: 16px;
        position: absolute;
        color: var(--contrast-clr);
        top: 222px;
        left: 20px;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 1000px) {
    .cont {
        max-width: 601px;
    }
    body {
        font-size: 20px;
    }
    #header #nav .nav-division::before {
        height: 63px;
    }
    #header #nav .nav-division {
        width: 610px;
    }
    #header #nav .ul-container ul li > a {
        font-size: 1.6em;
    }
    #main .container-welcome > img {
        top: 74px;
    }
    .cont {
        max-width: 59%;
    }
    p {
        font-size: 1.5em;
    }
    #main .container-welcome {
        padding-top: 3em;
    }
    #main .github-text-profile {
        top: 237px;
    }
    #main .container-welcome .second {
        top: 290px;
    }
    #main .container-welcome .second .forma {
        transition: all .2s;
    }
    #main .container-welcome .second .forma:hover {
        transform: scale(1.1);
    }
}